name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
      
    - name: checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 1
        
    - name: run tests
      run: |
        SS_COMPACT=1 ./docker_build.sh v4.0.3 test minimal
        docker run --rm \
               -v `pwd`/pygraphblas:/pygraphblas/pygraphblas \
               -v `pwd`/demo:/pygraphblas/demo               \
               -v `pwd`/docs:/docs \
               -v `pwd`/tests:/pygraphblas/tests \
               -e COVERAGE_FILE=/pygraphblas/tests/.coverage \
               graphblas/pygraphblas-minimal:test \
               coverage run --branch -m pytest
        cp tests/.coverage .
        sudo ln -s . /pygraphblas
        coveralls

      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        COVERALLS_FLAG_NAME: ${{ matrix.test-name }}
        COVERALLS_PARALLEL: true

  # coveralls:
  #   name: Indicate completion to coveralls.io
  #   needs: test
  #   runs-on: ubuntu-latest
  #   container: python:3-slim
  #   steps:
  #   - name: Finished
  #     run: |
  #       pip3 install --upgrade coveralls
  #       coveralls --finish
  #     env:
  #       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        # sudo apt-get -y install python3-setuptools
        # pip3 install --upgrade coveralls
  
        # mv tests/.coverage .coverage
        # sudo ln -s . /pygraphblas
        # python3 -m coveralls --service=github
