name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
      
    - name: checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 1
        
    - name: Build
      run: |
        sudo apt install graphviz
        sudo pip install -r minimal-requirements.txt
        python setup.py develop
        pytest tests/
